<!DOCTYPE html>
<html lang="es">

  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

<body>
    <figure>
        <img class="logoDH" src="/images/logo-DH.png" alt="Logo Digital House">
      </figure>
    <h1 class="titulo">AGREGAR PRODUCTOS (revisa los datos) </h1>
    <section class="formulario">
        <form action="/create" method="POST">

            <label for="name">Producto: </label>
            <p><input type="text" name="name" ></p>

            <label for="description">Descripcion: </label>
            <p><input type="text" name="description" id="" ></p>

            <% if(errors.description){ %> 
              <p><%= errors.description.msg %> </p>
            <% } %> 
            

            <label for="brand_id">Marca: </label>
            <p> <select name="brand_id" id="">
              <option >Elegí la marca..</option>
              <% for (let i=0; i < marcas.length; i++) { %> 
                <option value="<%= marcas[i].dataValues.id %>"><%=  marcas[i].dataValues.name %></option>
               <% } %>
            </select> </p>
            <label for="color_id">Color: </label>
            <p> <select name="color_id" id="">
              <option >Elegí el color..</option>
              <% for (let i=0; i < colores.length; i++) { %> 
                <option value="<%= colores[i].dataValues.id %>"><%=  colores[i].dataValues.name %></option>
               <% } %>
            </select> </p>

            <label for="material_id">Material: </label>
            <p> <select name="material_id" id="">
              <option >Tipo de material..</option>
              <% for (let i=0; i < material.length; i++) { %> 
                <option value="<%= material[i].dataValues.id %>"><%=  material[i].dataValues.name %></option>
               <% } %>
            </select> </p>
            <label for="price">Precio:  </label>
            <p><input type="number" name="price" id="" value="" required></p>
            <br>



            <p> <button class="botonAgregar" type="submit">Agregar</button>
        
            <a  class="botonVolver" href="/">Ver todos los productos</a></p>
        </form>
    </section>
</body>

</html>